@charset "UTF-8";

body
{
    background-image: url('../../imagens/back-tv.jpg');
}
main 
{
    width: 700px;
}
img#phone{display: none;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: block;}