@charset "UTF-8";

/*
  em HTML eh id = em CSS eh #
  em HTML eh class = em CSS eh .
*/


body{


    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to right, #757DA9,#3F4464 );
    
}


#principal
{
    text-align: center;
    background-color: aqua;
    color: white;
}
.basico
{
   color: green;
   font-weight: bolder;
}
.intermediario
{
  color: rgb(202, 202, 48);
}
.avancado
{
    color: red;

}
.destaque
{
    background-color: rgb(243, 233, 145);
}
h1
{

    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #1F2232;
    font-size: 2em;
}
h2
{
    
    color: rgba(92, 92, 36, 0.849);
}
p
{
    text-align: justify;
    text-indent: 20px;
}
main
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(31, 34, 49, 0.473);
    width: 600px;
    padding: 10px;
    margin: auto;
}
