
*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body
{
    margin: 0px;
    
}
header
{
    background-color: rgb(0, 63, 0);
    padding: 80px;
    text-align: center;
    color: white;
}


.navbar
{
    display: flex;
    justify-content: flex-star;
    background-color: black;
    
}
.navbar a{
    color: white;
    padding: 14px 20px;
    margin: 5px 0px;
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
   
}

.navbar a:hover
{
    background-color: grey;
    color: black;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transform: translate(-3px, -3px);
    transition-duration: .5s;
}

.corpo
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px;
    
}
.card
{
    flex-grow: 1;
    background-color: #ccc;
    
    height: 400px;
    margin: 1%;
}


  @media screen and (max-width:768px)
  {
    
        .navbar
        {
            
            display: flex;
            
            flex-direction: column;
        }
  }
