@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #757DA9,#3F4464 );
}
main
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(31, 34, 49, 0.473);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1
{
    text-align: center;
    color: #1F2232;
    text-shadow: 1px 1px 1px #0f101891;
}
h2
{
    color: #FFC857;

}
p{
    text-align: justify;
}