@charset "UTF-8";


body{


    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: italic;
     text-align: left;
    background-image: linear-gradient(to right, #757DA9,#3F4464 );
    
}
h1
{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #1F2232;
    font-size: 3em;
}
h2
{
    text-align: right;
    color: rgba(92, 92, 36, 0.849);
}
p
{
    text-align: justify;
    text-indent: 20px;
}
main
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(31, 34, 49, 0.473);
    width: 600px;
    padding: 10px;
    margin: auto;
}
