@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root
{
    
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;;
    --fonte2: 'Passion One', sans-serif;
    --fonte3:  'Sriracha', cursive
    
}
*
{
    
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
}

html, body
{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header
{
    background-color: black;
    text-align: center;
    min-height: 200px;
    
    
}
header > h1
{
    
    font-family: var(--fonte2);
    color: white;
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
    font-weight: bolder;
    
}
header a
{
    text-decoration: none;
    color: white;
    font-weight: bolder;    

}

header a:hover
{
    text-decoration: underline;
}
header p
{
    color: white;
    padding-bottom: 50px;
    
}

section
{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p
{
    padding-bottom: 2em;
}
.normal
{
    background-color: white;
    color: black;
}
.image
{
    background-color: rgb(83, 82, 82);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
    background-size: cover;
    background-attachment: fixed;
}
#img1
{
    background-image: url('image/background001.jpg');
    background-position: right center;
    
    
}
#img2
{
    background-image: url('image/background002.jpg');
    background-position: center center;
    
}

.image > p
{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}
footer
{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 4px;
    
    
}

.link-especial
{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.link-especial:hover
{
   text-decoration: underline;
   color: white;
}