@charset "UTF-8";

body{


    height: 100vh;
    /* background-color: black;
    background-image: url('../imagens-cap19/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    /* short hand background
    color > image > position > {size} > attachment */
    background: black url('../imagens-cap19/wallpaper002.jpg') center center fixed;
    background-size: cover; 
}

main
{
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(31, 34, 49, 0.473);
    max-width: 400px;
    padding: 10px;
    margin: auto;
}

h1
{
    text-align: center;
    color: #1F2232;
    font-size: 2em;
}

p
{
    text-align: justify;
    
}

