@charset "UTF-8";

body{


    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    background-image: linear-gradient(to right, #757DA9,#3F4464 );
    margin: auto;
    
}

td
{
    border: 2px solid black;
    padding: 8px;
}
table
{
    width: 400px;
    border-collapse: collapse;
    border: 5px solid red;
}
tr.linha
{
  background-color: gray;
}
td.dado
{
    background-color: yellow;
}

h1
{

    color: #1F2232;
    font-size: 2em;
    text-align: center;
}


main
{
    border: 5px solid black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(31, 34, 49, 0.473);
    width: 800px;
    padding: 10px;
    margin: auto;
}