@charset "UTF-8";


/* Todas as demais midias

typical device breakpoints 
 Pequenas telas: ate 600px
 celular: 600px - 768px
 tablet: 769px - 992px
 Desktop: 993px - 1200px
 Grandes telas: 1201px e acima
*/

@media print /* impressao */
{
  body 
  {
    font-family: 'Courier New', Courier, monospace;
    
  }
  main h1
  {
    text-shadow: none;
    color: black;
  }
  main
  {
    border: 2px solid black;
    width: 90vw;
  }
  main::after
  {
    content: 'xxxxxxxxxx';
    text-decoration: overline;
  }
  img#phone{display: none;}
  img#tablet{display: none;}
  img#print{display: block;}
  img#pc{display: none;}
  img#tv{display: none;}
}
@media screen and (min-width: 769px) and (max-width: 992px)  /* tablet */
{
    body
    {
        background-image: url('../imagens/back-tablet.jpg');
    }
   
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
    
}
@media screen and (min-width: 993px) and (max-width: 1200px) /* desktops */
{
    body
    {
        background-image: url('../imagens/back-pc.jpg');
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1201px)  /* grandes telas */
{
    body
    {
        background-image: url('../imagens/back-tv.jpg');
    }
    main 
    {
        width: 700px;
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}